#links_holder
{
    width: fit-content;
    height: fit-content;
    position: absolute;
    padding-left: 20px;
    right: 2%;
    top: 2%;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.667);
    border: 2px solid black;
}

#Post_Overlay,#themesOverlay,#moodOverlay,#PollOverlay,#createPallet /*CSS for load overlay div */
{
    height: 100%;
    width: 100%;
    max-height: 100%;
    z-index: 3;
    overflow-y: auto;
    position: fixed; /* Stay in place */
    left: 0;
    top: 0;
    background-color: rgba(7, 7, 7, 0.55); /* Black w/opacity */
    backdrop-filter: blur(6px);
}

    .row , .col {
    border: 0px solid white;
}

.postTextPreviewPlaceHolder {
    text-align: center;
    font-size: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: gray;
    max-width: 100em;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.postTextPreviewContent {
    text-align: center;
    font-size: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(0, 0, 0);
    max-width: 100em;
    word-wrap: break-word;
    overflow-wrap: break-word;
}


.previewPostCardHeader{
    /* background-image: url("Backgrounds/Dark/bulbAtNight.jpg"); */
    background-size: cover;
}

/* reaction btns */
.reaction-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin: 10px;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.reaction-btn:hover {
    transform: scale(1.1);
}



.headerText{
    color: rgb(0, 0, 0);
}

#themesOverlayCloseBtn,#postOverlayCloseBtn,#moodOverlayCloseBtn{
    position: absolute;
    left : 95%;
    top: 2%;
}

#customizationPallet
{
    background-image: url("../GUI_Resources/customize4.jpg");
    background: cover;
    border-radius: 10px;
    border: 3px solid white;
}

.highlight-on-hover:hover {
    background-color: rgb(94, 255, 0);
    opacity: 0.8;
  }


  /* poll */

#poll-options {
margin-top: 10px;
}

.form-group {
margin-bottom: 20px;
}

#add-poll-option-btn ,#create-poll-option-btn{
margin-top: 10px;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

/* Reaction button styles */
.reaction-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin: 10px;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.reaction-btn:hover {
    transform: scale(1.1);
}



