#profile_picture_pallet,#commentPallet /*CSS for profile pallet overlay*/
{
    height: 100%;
    width: 100%;
    max-height: 100%;
    z-index: 3;
    overflow-y: auto;
    position: fixed; /* Stay in place */
    left: 0;
    top: 0;
    background-color: rgba(7, 7, 7, 0.55); /* Black w/opacity */
    backdrop-filter: blur(6px);
}

#loading_img  /*CSS for loading image */
{
    position: absolute;
    top: 43%;
    left: 43%;
}

#inner_pallet
{
    top: 100%;
}

.CloseBtn{
    position: absolute;
    left : 95%;
    top: 2%;
}



#links_holder
{
    width: fit-content;
    height: fit-content;
    position: absolute;
    padding-left: 20px;
    right: 2%;
    top: 2%;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.667);
    border: 2px solid black;
}

#Confessions_i_got_list,#Confessions_i_sent_list
{
    height: auto; 
    overflow-y:scroll;
    overflow: auto;
}

#Confessions_Pallet,#Buddy_Requests_Pallet
{
    height: 100%;
    width: 100%;
    max-height: 100%;
    z-index: 3;
    overflow-y: auto;
    position: fixed; /* Stay in place */
    left: 0;
    top: 0;
    background-color: rgba(7, 7, 7, 0.55); /* Black w/opacity */
    backdrop-filter: blur(6px);
}

/*  */


.previewPostCardHeader{
    /* background-image: url("Backgrounds/Dark/bulbAtNight.jpg"); */
    background-size: cover;
}
/* reaction btns */
.reaction-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin: 10px;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.reaction-btn:hover {
    transform: scale(1.1);
}

